* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(220,220,220);
}

hr {
    margin: 10px auto;
}

form#menuForm {
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
    background-color: rgba(0,0,0, 0.7);
    box-shadow: 2px 2px 20px black;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

nav.menu {
    height: 100%;
    margin-left: 15%;
}

button.menuButton {
    outline: none;
    height: 90%;
    font-size: 2em;
    width: 20%;
    color: rgba(0,0,0, 0.7);
    border: 1px solid rgba(0,0,0, 0.7);
    box-shadow: 1px 1px 10px black;
}

button.menuButton:hover {
    background-color: rgba(202, 202, 202, 0.8);
    color: white;
}

button.first {
    border-bottom-left-radius: 50px;
}

button.last {
    border-bottom-right-radius: 50px;
}

button.btnReadOne {
    width: 100%;
}

button.btnReadTwo {
    display: block;
    width: 80%;
    margin: 2px auto;
}

button.btnReadThree {
    display: block;
    width: 60%;
    margin: 2px auto;
    word-wrap: break-word;
}



