* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(220,220,220);
}

form {
    position: fixed;
    border: 3px solid rgba(0,0,0, 0.3);;
    width: 30%;
    height: 20%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    box-shadow: 0 0 3em black;
}

form>input {
    height: 1.5em;
    border-radius: 10px;
    outline: none;
    display: block;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 10%);
    position: relative;
    margin: 5px;
}

input.button {
    border-radius: 50%;
    margin-top: 1em;
    padding: 5px;
    color: white;
    font-weight: 900;
    height: 2.5em;
    box-shadow: 0 0 10px black;
    background-color: rgba(0,0,0, 0.7);
}

input.button:hover {
    color: rgba(0,0,0, 0.7);
    background-color: white;
    transition-duration: 400ms;
}
